<!DOCTYPE html> 
<html> 
<head> 
  <title>Linking your Commits to your Tunes</title>
</head>

<body>

<div class="container">
  <div class="title">Github Meets Last.fm</div>
  <div class="headline">Mashing up your commits with your Last.fm scrobbles.</div>
  <div class="steps">
  <form id="usernames" action="/" method="post">
  <ol>
  <li>Enter last.fm username: <input type="text" size="50" id="lastfm" name="lastfm" /></li>
  <li>Enter github.com username: <input type="text" size="50" id="github" name="github" /></li>
  <input type="submit" value="Search"/>
  </ol>
  </form>
  </div>

  <ul>
  {% for i in commits %}
  <li> {{i.repository.name}} : {{i.created_at}} - {{ i.type}} {% if i.comment %} with comment: <b>"{{ i.comment}}"</b> {% endif %} while listening to the {{i.album}} album by {{i.artist}} <a href ="{{i.url}}">details</a></li>
  {% endfor %}  
  </ul>
</div>

</body>
</html>