<!DOCTYPE html> 
<html> 
<head> 
  <title>Linking your Commits to your Tunes</title>
</head>

<body>

<div class="container">
  <div class="title">Github Meets Last.fm</div>
  <div class="headline">Mashing up your commits with your Last.fm scrobbles.</div>
  <div class="steps">
  <form id="usernames" action="/" method="post">
  <ol>
  <li>1. Enter last.fm username: <input type="text" size="50" id="SearchTerms" name="searchTerm" onClick="this.value=''"/></li>
  <li>2. Enter github.com username: <input type="text" size="50" id="SearchTerms" name="searchTerm" onClick="this.value=''"/></li>
  <input type="submit" value="Search"/>
  </ol>
  </form>
  </div>
</div>

</body>
</html>