<!DOCTYPE html> 
<html> 
<head> 
  <title>Linking your Commits to your Tunes</title>
</head>

<body>

<div class="container">
  <div class="title">Github Meets Last.fm</div>
  <div class="headline">Mashing up your commits with your Last.fm scrobbles.</div>
  <div class="steps">
  <form id="usernames" action="/" method="post">
  <ol>
  <li>Enter last.fm username: <input type="text" size="50" id="lastfm" name="lastfm" /></li>
  <li>Enter github.com username: <input type="text" size="50" id="github" name="github" /></li>
  <input type="submit" value="Search"/>
  </ol>
  </form>
  </div>

  {% if commits %}

  <ul>
  {% for i in commits %}
  <li>{{i.commit_time}} - {% if i.repo %}For repo {{i.repo}}:{% endif %}{% if i.comment %} {{ i.comment}} {% endif %} while listening to the album {{i.album}} by {{i.artist}} <a href ="https://github.com{{i.commit.url}}">details</a></li>
  {% endfor %}  
  </ul>
  {% endif %}

  {% if noresults %}
  Sorry, unable to find any matching commits and scrobbles.
  {% endif %}
  
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23883801-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
